<footer class="footer-section mt-5">
    <div class="container py-5">

        <div class="row g-4">

            <div class="col-lg-4">
                <h4 class="logo">
                    <i class="bi bi-cpu"></i>
                    FLUFFY
                </h4>

                <p class="">
                    Modern computer store management system for gaming laptops,
                    computer accessories, and tech products.
                </p>
            </div>

            <div class="col-lg-2">
                <h6>Shop</h6>
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'cart' %}">Cart</a>
            </div>

            <div class="col-lg-2">
                <h6>Company</h6>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>

            <div class="col-lg-4">
            
                <h6 class="mb-3">
                    Support & Contact
                </h6>
        
            
                <p class="text-light mb-2">
                
                    <a href="tel:+85577567619" class="text-light text-decoration-none">
                
                        <i class="bi bi-telephone-fill text-white"></i>
                        +855 77 567 619
                
                    </a>
                
                </p>
                
                <p class="text-light mb-2">
                
                    <a href="mailto:fluffystorebyteam9@gmail.com" class="text-light text-decoration-none">
                
                        <i class="bi bi-envelope-fill text-white"></i>
                        fluffystorebyteam9@gmail.com
                
                    </a>
                
                </p>
                
                <p class="text-light mb-3">
                
                    <a href="https://t.me/fluffyspp24l7" target="_blank" class="text-light text-decoration-none">
                
                        <i class="bi bi-telegram text-white"></i>
                        @fluffysp24l7
                
                    </a>
                
                </p>
            
                <a href="https://t.me/fluffyspp24l7" target="_blank" class="btn btn-primary">
            
                    Contact Support
            
                </a>
            
            </div>

        </div>

        <hr class="border-secondary">

        <p class="text-center  mb-0">
             2026 Fluffy. All rights reserved.
        </p>

    </div>
</footer>