{% extends 'base.html' %}

{% block title %}Admin Dashboard | FLUFFY{% endblock %}

{% block content %}

<section class="container-fluid py-5 px-4">

    <div class="row g-4">

        <div class="col-lg-2">

            <div class="sidebar-box admin-sidebar">
            
                <h5 class="mb-4 text-white">
                    Admin Panel
                </h5>
            
                <a href="{% url 'admin_dashboard' %}" class="sidebar-link active-link">
                    Dashboard
                </a>
            
                <a href="{% url 'manage_products' %}" class="sidebar-link">
                    Products
                </a>
            
                <a href="{% url 'manage_orders' %}" class="sidebar-link">
                    Orders
                </a>
            
                <a href="{% url 'logout' %}" class="sidebar-link logout-link">
                    Logout
                </a>
            
            </div>

        </div>

        <div class="col-lg-10">

            <h2 class="mb-4">Dashboard</h2>

            <div class="row g-4">

                <div class="col-md-4">
                    <div class="neon-card p-4">
                        <p class="">Total Products</p>
                        <h2>{{ total_products }}</h2>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="neon-card p-4">
                        <p class="">Total Orders</p>
                        <h2>{{ total_orders }}</h2>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="neon-card p-4">
                        <p class="">Total Users</p>
                        <h2>{{ total_users }}</h2>
                    </div>
                </div>

            </div>

            <div class="neon-card p-4 mt-4">

                <h4 class="mb-4">Recent Orders</h4>

                <table class="table table-dark table-hover">

                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in recent_orders %}
                        <tr>
                            <td>#{{ order.id }}</td>
                            <td>{{ order.user.username }}</td>
                            <td>${{ order.total_price }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</section>

{% endblock %}