{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }} | TechNova{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="row g-5 align-items-start">

        <div class="col-lg-6">

            <div class="neon-card p-4">

                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid rounded">
                {% else %}
                <img src="{% static 'img/product.png' %}" class="img-fluid rounded">
                {% endif %}

            </div>

        </div>

        <div class="col-lg-6">

            <p class="text-primary mb-1">
                {{ product.category.name }}
            </p>

            <h1 class="fw-bold">
                {{ product.name }}
            </h1>

            <p class="text-muted">
                {{ product.brand }}
            </p>

            <div class="text-warning mb-3">
                ★★★★★ <span class="text-muted">128 reviews</span>
            </div>

            <h2 class="price mb-4">
                ${{ product.price }}
            </h2>

            <p class="text-muted">
                {{ product.description }}
            </p>

            <ul class="text-muted">
                <li>High performance product</li>
                <li>Premium quality</li>
                <li>Fast delivery</li>
                <li>Stock: {{ product.stock }}</li>
            </ul>

            <div class="d-flex gap-3 mt-4">
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary px-5">
                    Add to Cart
                </a>

                <a href="{% url 'products' %}" class="btn btn-outline-light px-5">
                    Back
                </a>
            </div>

        </div>

    </div>

</section>

{% endblock %}